@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css or any global stylesheet */

html {
    scroll-behavior: smooth;
    font-family: Inter;
}

.darkTheme {
    background-color: #0A0B2D;
    color: white;

}

.lightTheme {
    background-color: white;
    color: #0A0B2D;
}

.darkTheme .navBar {
    border-color: white;
    background-color: #0A0B2D;

}

.lightTheme .navBar {
    border-color: #0A0B2D;
    background-color: white;
}

.darkTheme .introBox {
    background-color: rgb(79, 81, 134);

}

.lightTheme .introBox {
    background-color: #DBEAFE;
}

.darkTheme .projectBg {
    background-color: #4f5186;

}

.lightTheme .projectBg{
    background-color: #DBEAFE;
}

.darkTheme .projectBox {
    border-color: white;

}

.lightTheme .projectBox{
    border-color: #0A0B2D;
}

.darkTheme .decoration-line {
    background: white;

}

.lightTheme .decoration-line {
    background: #0A0B2D;
}

.darkTheme .contactBox {
    background: rgba(217, 217, 217, 0.15);
}

.lightTheme .contactBox {
    background: rgb(219, 234, 254, 0.5);
}


.lightTheme .footer {
    background-color: #0A0B2D;
    color: white;

}

.darkTheme .footer {
    background-color: rgba(255, 255, 255, 0.959);
    color: #0A0B2D;
}

.lightTheme .footer .divider {
    background-color: white;

}

.darkTheme .footer .divider {
    background-color: #0A0B2D;
}


