@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css or any global stylesheet */

html {
    scroll-behavior: smooth;
}

.darkTheme {
    background-color: #0A0B2D;
    color: white;

}

.lightTheme {
    background-color: white;
    color: #0A0B2D;
}

.darkTheme .navBar {
    border-color: white;
    background-color: #0A0B2D;

}

.lightTheme .navBar {
    border-color: #0A0B2D;
    background-color: white;
}

.darkTheme .introBox {
    background-color: #4f5186;

}

.lightTheme .introBox {
    background-color: #DBEAFE;
}

.darkTheme .projectBg {
    background-color: #4f5186;

}

.lightTheme .projectBg{
    background-color: #DBEAFE;
}

.darkTheme .projectBox {
    border-color: white;

}

.lightTheme .projectBox{
    border-color: #0A0B2D
}


